[submodule "beginner_nights"]
	path = beginner_nights
	url = https://github.com/BethanyG/beginner_nights
[submodule "WWCodePythonAutomate_the_Snippets"]
	path = WWCodePythonAutomate_the_Snippets
	url = https://github.com/BethanyG/WWCodePythonAutomate_the_Snippets.git
[submodule "Py-Snippets"]
	path = Py-Snippets
	url = https://github.com/SaraM92/Py-Snippets.git
[submodule "WWC-Python-Webinar-Titanic"]
	path = WWC-Python-Webinar-Titanic
	url = https://github.com/kunal-lalwani/WWC-Python-Webinar-Titanic.git
[submodule "WWCode-python"]
	path = WWCode-python
	url = https://github.com/iris9112/WWCode-python
