[submodule "beginner_nights"]	
	path = beginner_nights	
	url = https://github.com/BethanyG/beginner_nights	
[submodule "WWCodePythonAutomate_the_Snippets"]	
	path = WWCodePythonAutomate_the_Snippets	
	url = https://github.com/BethanyG/WWCodePythonAutomate_the_Snippets.git	
[submodule "Py-Snippets"]	
	path = Py-Snippets	
	url = https://github.com/SaraM92/Py-Snippets.git	
[submodule "WWC-Python-Webinar-Titanic"]	
	path = WWC-Python-Webinar-Titanic	
	url = https://github.com/kunal-lalwani/WWC-Python-Webinar-Titanic.git	
[submodule "WWCode-python"]	
	path = WWCode-python	
	url = https://github.com/iris9112/WWCode-python	
[submodule "PyCon_2019"]	
	path = PyCon_2019	
	url = https://github.com/GabrielleRab/PyCon_2019	
[submodule "DataManipulationPandas"]	
	path = DataManipulationPandas
	url = git@github.com:https://github.com/liliana3186/DataManipulationPandas.git
[submodule "emoji_predictor"]	
	path = emoji_predictor	
	url = https://github.com/alexg-171/emoji_predictor.git	
[submodule "Get-Started-with-NumPy"]
	path = Get-Started-with-NumPy
	url = https://github.com/yashika51/Get-Started-with-NumPy.git
[submodule "respiratory-buddy"]
	path = respiratory-buddy
	url = https://github.com/BethanyG/respiratory-buddy
[submodule "ML_Mondays_WWCodePython"]
	path = ML_Mondays_WWCodePython
	url = https://github.com/BethanyG/ML_Mondays_WWCodePython
[submodule "edaworkshop"]
	path = edaworkshop
	url = https://github.com/SteeleAlloy/edaworkshop.git
[submodule "coding_for_the_movie_industry"]
	path = coding_for_the_movie_industry
	url = https://github.com/jessicakoubi/talk_coding_for_the_movie_industry
[submodule "talk_introduction_to_qt"]
	path = talk_introduction_to_qt
	url = git@github.com:jessicakoubi/talk_introduction_to_qt.git
[submodule "wwcode_pyton_ide_series"]
	path = wwcode_pyton_ide_series
	url = https://github.com/jessicakoubi/wwcode_pyton_ide_series.git
[submodule "WWCodePython_BeginnerSeries"]
	path = WWCodePython_BeginnerSeries
	url = https://github.com/nuageklow/WWCodePython_BeginnerSeries.git
